* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.nav a:hover::after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('/assets/img/q.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 80px 100px 0;
}

.home .content {
    max-width: 600px;
    color: #fff;
}

.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
    margin-top: -190px;

}

.content p {
    margin: 10px 0 40px;

}

.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}

.content a:hover {
    background: #1e0b04;

}

.home .wrapper-login {
    position: relative;
    width: 440px;
    margin-right: 50px;
    margin-left: auto;
}

.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 5px 0 45px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transform: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -14px;
    left: 17px;
    font-size: .8em;
}



.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

.wrapper-login .remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
    accent-color: #1e0b04;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn-login {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #1e0b04, #71412a);
    color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.wrapper-login .register-link {
    margin: 30px 0;
    text-align: center;
    font-size: .9em;
    color: #fff;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 1023px) {
    
} 